*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

/*自定义样式  - 开始*/

/*向下翻页的按钮*/
.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 3%;
    left: 50%;
    right: auto;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
    width: 17px;
    height: 34px;
    background-size:17px 34px;
    opacity:1;
    animation: buttonnext 1.5s linear infinite;
}
@keyframes buttonnext {
    0%{
        bottom:3%;
        opacity:1;
    }
    100%{
        bottom:7%;
        opacity:0;
    }
}

/*音乐按钮的样式*/
#mp3btn {
    position: absolute;
    right: 5%;
    top: 2%;
    z-index: 100;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.54);
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    border: 3px solid rgba(76, 76, 76, 0.62);
    transform: rotateZ(0deg);
    animation: mp3btnkey 2.5s linear infinite;
}
@keyframes mp3btnkey {
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}

#mp3btn img {
    width: 10px;
}
/* .s1*/

.s1,.s2,.s3,.s4,.s5,.s6,.s7 {
    background: url("../img/bj.png");
    height: 100%;
}

.s1 .header img{
    position: absolute;
}

.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 120px;
    left: 50px;
}

.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
}

.s1 .header img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 180px;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 210px;
}
.swing{
    transform-origin: center;
}
.s1 .header img:nth-of-type(5){
    left: 50%;
    top: 25%;
    width: 60%;
    margin-left: -30%;
}
/*首页文字部分*/
.s1 .main{
    position: absolute;
    top: 30%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
    margin-bottom:20px;
}
.s1 .main .img9{
    background: url("../img/9.png");
    background-size:cover;
    width: 207px;
    height: 24px;
    margin: auto;
}
/*footer部分*/
.s1 .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    color:#02bfa1;
    width: 100%;
}
.s1 .footer img{
    position: absolute;
    bottom: 0;
    height: 70px;
}
.s1 .footer h2{
    font-size:18px;
    margin-bottom: 10px;
}
.s1 .footer p:nth-of-type(1){
    font-size:16px;
    margin-bottom: 40px;
}
.s1 .footer p:nth-of-type(2){
    height: 70px;
}
.s1 .footer p img{
    position: absolute;
    height: 70px;
}
.s1 .footer p img:nth-of-type(1){
    left: 0;
    animation: footerimg1 2s infinite;
}
.s1 .footer p img:nth-of-type(2){
    left: -90px;
    animation: footerimg2 2s infinite;
}
@keyframes footerimg1 {
    0%{
        left: 0;
    }
    100%{
        left: 20px;
    }
}
@keyframes footerimg2 {
    0%{
        left:-90px;
    }
    100%{
        left:-110px;
    }
}
/*第二屏内容*/
.s2 {
    color: #00f0c3;
}
.s2 h2 {
    padding-top: 10%;
    font-size: 24px;
    margin-bottom: 10%;
}
.s2 h2::before,
.s2 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s2 h2::before {
    background: url("../img/14.png");
    background-size: cover;
    left: 45px;
    top: 45px;
}
.s2 h2::after {
    background: url("../img/13.png");
    background-size: cover;
    right: 45px;
    top: 45px;
}
.s2 h2 small {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
}
.s2 img {
    width: 80%;
}
.s2 .main {
    position: relative;
}
.s2 .text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 80%;
    margin: auto;
    text-align: left;
    padding: 5%;
    font-size: 14px;
}
.s2 .text p {
    margin-bottom: 10px;
}
.s2 span {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 120px;
    height: 30px;
    margin-left: -60px;
    background: -moz-linear-gradient(left, #00e7f7, #00fc9f); /*Mozilla*/
    background: -webkit-gradient(linear, 0 50%, 100% 50%, from(#00e7f7), to(#00fc9f)); /*Old gradient for webkit*/
    background: -webkit-linear-gradient(left, #00e7f7, #00fc9f); /*new gradient for Webkit*/
    background: -o-linear-gradient(left, #00e7f7, #00fc9f); /*Opera11*/
    color: #000;
    font-size: 16px;
    line-height: 30px;
    border-radius: 20px;
    font-weight: bold;
}
.s2 .footer{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 70px;
}
.s2 .footer p img{
    position: absolute;
    height: 70px;
    bottom: 0;
    width: 100%;
}
.s2 .footer p img:nth-of-type(1){
    left: 0;
    animation: footerimg1 2s infinite;
}
.s2 .footer p img:nth-of-type(2){
    left: -90px;
    animation: footerimg2 2s infinite;
}
@keyframes footerimg1 {
    0%{
        left: 0;
    }
    100%{
        left: 20px;
    }
}
@keyframes footerimg2 {
    0%{
        left:-90px;
    }
    100%{
        left:-110px;
    }
}
/*第三屏内容*/
.s3 {
    color: #00f0c3;
}
.s3 h2 {
    padding-top: 10%;
    font-size: 24px;
    margin-bottom: 10%;
}
.s3 h2::before,
.s3 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s3 h2::before {
    background: url("../img/14.png");
    background-size: cover;
    left: 45px;
    top: 45px;
}
.s3 h2::after {
    background: url("../img/13.png");
    background-size: cover;
    right: 45px;
    top: 45px;
}
.s3 h2 small {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
}
.s3 .main .big{
    position: absolute;
    width: 37%;
    top: 39%;
    left: 31%;
    animation: pulse 2.5s linear infinite;
}
.s3 .main .small{
    position:absolute;
    width: 20%;
    left: 20%;
    top: 25%;
    animation: rubberBand 2.5s linear infinite;
}
.s3 .main .small1{
    position:absolute;
    width: 20%;
    right: 20%;
    top: 25%;
    animation: rubberBand 2.5s linear infinite;
}
.s3 .main .small2{
    position:absolute;
    width: 20%;
    left: 20%;
    bottom: 25%;
    animation: rubberBand 2.5s linear infinite;
}
.s3 .main .small3{
    position:absolute;
    width: 20%;
    right: 20%;
    bottom: 25%;
    animation: rubberBand 2.5s linear infinite;
}
.s3 .main .small4{
    position:absolute;
    width: 20%;
    left: 3%;
    top: 44%;
    animation: rubberBand 2.5s linear infinite;
}
.s3 .main .small5{
    position:absolute;
    width: 20%;
    right: 3%;
    top: 44%;
    animation: rubberBand 2.5s linear infinite;
}
.s3 .main h3{
    position: absolute;
    top: 47%;
    left: 39%;
}
.s3 .main .one{
    position: absolute;
    top: 29%;
    left: 26%;
}
.s3 .main .two{
    position: absolute;
    top: 29%;
    right: 26%;
}
.s3 .main .three{
    position: absolute;
    top: 48%;
    left: 8%;
}
.s3 .main .four{
    position: absolute;
    top: 48%;
    right: 8%;
}
.s3 .main .five{
    position: absolute;
    bottom: 29%;
    left: 26%;
}
.s3 .main .six{
    position: absolute;
    bottom: 29%;
    right: 26%;
}
.s3 .footer{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 70px;
}
.s3 .footer p img{
    position: absolute;
    height: 70px;
    bottom: 0;
    width: 100%;
}
.s3 .footer p img:nth-of-type(1){
    left: 0;
    animation: footerimg1 2s infinite;
}
.s3 .footer p img:nth-of-type(2){
    left: -90px;
    animation: footerimg2 2s infinite;
}
@keyframes footerimg1 {
    0%{
        left: 0;
    }
    100%{
        left: 20px;
    }
}
@keyframes footerimg2 {
    0%{
        left:-90px;
    }
    100%{
        left:-110px;
    }
}
/*第四屏内容*/
.s4 {
    color: #00f0c3;
}
.s4 h2 {
    padding-top: 10%;
    font-size: 24px;
    margin-bottom: 10%;
}
.s4 h2::before,
.s4 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s4 h2::before {
    background: url("../img/14.png");
    background-size: cover;
    left: 45px;
    top: 45px;
}
.s4 h2::after {
    background: url("../img/13.png");
    background-size: cover;
    right: 45px;
    top: 45px;
}
.s4 h2 small {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
}

.s4 .footer{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 70px;
}
.s4 .footer p img{
    position: absolute;
    height: 70px;
    bottom: 0;
    width: 100%;
}
.s4 .footer p img:nth-of-type(1){
    left: 0;
    animation: footerimg1 2s infinite;
}
.s4 .footer p img:nth-of-type(2){
    left: -90px;
    animation: footerimg2 2s infinite;
}
@keyframes footerimg1 {
    0%{
        left: 0;
    }
    100%{
        left: 20px;
    }
}
@keyframes footerimg2 {
    0%{
        left:-90px;
    }
    100%{
        left:-110px;
    }
}
/*第五屏内容*/
.s5 {
    color: #00f0c3;
}
.s5 h2 {
    padding-top: 10%;
    font-size: 24px;
    margin-bottom: 10%;
}
.s5 h2::before,
.s5 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s5 h2::before {
    background: url("../img/14.png");
    background-size: cover;
    left: 45px;
    top: 45px;
}
.s5 h2::after {
    background: url("../img/13.png");
    background-size: cover;
    right: 45px;
    top: 45px;
}
.s5 h2 small {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
}

.s5 .footer{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 70px;
}
.s5 .footer p img{
    position: absolute;
    height: 70px;
    bottom: 0;
    width: 100%;
}
.s5 .footer p img:nth-of-type(1){
    left: 0;
    animation: footerimg1 2s infinite;
}
.s5 .footer p img:nth-of-type(2){
    left: -90px;
    animation: footerimg2 2s infinite;
}
@keyframes footerimg1 {
    0%{
        left: 0;
    }
    100%{
        left: 20px;
    }
}
@keyframes footerimg2 {
    0%{
        left:-90px;
    }
    100%{
        left:-110px;
    }
}
/*第六屏内容*/
.s6 {
    color: #00f0c3;
}
.s6 h2 {
    padding-top: 10%;
    font-size: 24px;
    margin-bottom: 10%;
}
.s6 h2::before,
.s6 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s6 h2::before {
    background: url("../img/14.png");
    background-size: cover;
    left: 45px;
    top: 45px;
}
.s6 h2::after {
    background: url("../img/13.png");
    background-size: cover;
    right: 45px;
    top: 45px;
}
.s6 h2 small {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
}

.s6 .footer{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 70px;
}
.s6 .footer p img{
    position: absolute;
    height: 70px;
    bottom: 0;
    width: 100%;
}
.s6 .footer p img:nth-of-type(1){
    left: 0;
    animation: footerimg1 2s infinite;
}
.s6 .footer p img:nth-of-type(2){
    left: -90px;
    animation: footerimg2 2s infinite;
}
@keyframes footerimg1 {
    0%{
        left: 0;
    }
    100%{
        left: 20px;
    }
}
@keyframes footerimg2 {
    0%{
        left:-90px;
    }
    100%{
        left:-110px;
    }
}
/*第七屏内容*/
.s7 {
    color: #00f0c3;
}
.s7 h2 {
    padding-top: 10%;
    font-size: 24px;
    margin-bottom: 10%;
}
.s7 h2::before,
.s7 h2::after {
    content: "";
    width: 83px;
    height: 20px;
    display: inline-block;
    position: absolute;
}
.s7 h2::before {
    background: url("../img/14.png");
    background-size: cover;
    left: 45px;
    top: 45px;
}
.s7 h2::after {
    background: url("../img/13.png");
    background-size: cover;
    right: 45px;
    top: 45px;
}
.s7 h2 small {
    margin-top: 10px;
    display: block;
    font-size: 12px;
    letter-spacing: 5px;
}

.s7 .footer{
    position: absolute;
    bottom:0;
    left: 0;
    width: 100%;
    height: 70px;
}
.s7 .footer p img{
    position: absolute;
    height: 70px;
    bottom: 0;
    width: 100%;
}
.s7 .footer p img:nth-of-type(1){
    left: 0;
    animation: footerimg1 2s infinite;
}
.s7 .footer p img:nth-of-type(2){
    left: -90px;
    animation: footerimg2 2s infinite;
}
@keyframes footerimg1 {
    0%{
        left: 0;
    }
    100%{
        left: 20px;
    }
}
@keyframes footerimg2 {
    0%{
        left:-90px;
    }
    100%{
        left:-110px;
    }
}