*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

}

/*自定义样式  - 开始*/

/*向下翻页的按钮*/
.swiper-button-next {
    position: absolute;
    top: auto;
    bottom: 5%;
    left: 50%;
    right: auto;
    margin-left: -13.5px;
    transform: rotateZ(-90deg);
}


/* .s1*/

.s1 {
    background: url("../img/bj.png");
    height: 100%;
}

.s1 .header img{
    position: absolute;
}

.s1 .header img:nth-of-type(1){
    width: 35px;
    top: 120px;
    left: 50px;
}

.s1 .header img:nth-of-type(2){
    width: 65px;
    top: 90px;
    right: 40px;
}

.s1 .header img:nth-of-type(3){
    width: 55px;
    left: 35px;
    bottom: 180px;
}
.s1 .header img:nth-of-type(4){
    width: 50px;
    right: 50px;
    bottom: 210px;
}
.s1 .header img:nth-of-type(5){
    left: 50%;
    top: 25%;
    width: 60%;
    margin-left: -30%;
}
/*首页文字部分*/
.s1 .main{
    position: absolute;
    top: 30%;
}
.s1 .main img:nth-of-type(1){
    width: 40%;
}
.s1 .main img:nth-of-type(2){
    width: 80%;
    margin-bottom:20px;
}
.s1 .main .img9{
    background: url("../img/9.png");
    background-size:cover;
    width: 207px;
    height: 24px;
    margin: auto;
}
/*footer部分*/
.s1 .footer{
    position: absolute;
    bottom: 0;
    left: 0;
    color:#02bfa1;
    width: 100%;
}
.s1 .footer img{
    position: absolute;
    bottom: 0;
    height: 70px;
}
.s1 .footer h2{
    font-size:18px;
    margin-bottom: 10px;
}
.s1 .footer p:nth-of-type(1){
    font-size:16px;
    margin-bottom: 40px;
}
.s1 .footer p:nth-of-type(2){
    height: 70px;
}
.s1 .footer p img{
    position: absolute;
    height: 70px;
}
.s1 .footer p img:nth-of-type(1){
    left: 0px;
}
.s1 .footer p img:nth-of-type(2){
    left: -90px;
}
/*第二屏内容*/