body,p,h1,h2,ul,li{
	padding: 0px;
	margin:0px;
}
.clearfix:before,
.clearfix:after{
	content: " ";
	display:table;
	clear:both;
}
.header,.banner,.containt,.footer{
	margin:0 auto;
	width: 960px;
	}
li{
	list-style: none;
}
a{
	text-decoration:none;
	}
.logo,.nav{
	float: left;
}

/*---------通用样式---------*/

/*---------header样式---------*/
.header-inner{
	background:url(../images/a1_06.gif);
	height: 113px;
	border-bottom: 1px #ffffff solid;
}
.header{
	padding-top: 29px;
}
.logo{
	width: 289px;
	padding-right: 140px;
	margin-left: 14px
}
.nav li{
	height: 33px;
	padding-top: 19px;
	border-left: 1px #ffffff solid;
	border-right: 1px #e7e7e7 solid;
	border-radius: 10px;
}
.header a{
	float: left;
}
.nav li{
	font:18PX Franklin Gothic Demi Cond;
}
.btn1{
	padding:0 26px;
}
.btn2{
	padding:0 25px 0 23px;
}
.btn3{
	padding:0 25px 0 22px;
}
.btn4{
	padding:0 24px 0 22px;
}
.btn5{
	padding:0 23px 0 23px;
}
.btn2,.btn3,.btn4,.btn1,.btn5{
	color: #000000;
	background: none;
}
.btn5:hover,.btn2:hover,.btn3:hover,.btn4:hover,.btn1:hover{
	color: #2ab5ba;
	background-color: #ffffff;
}

/*---------header样式---------*/

/*---------containt样式---------*/
.containt-inner{
	background: url(../images/a2_11.gif);
	height: 689px;
	border-top: 1px #dcdcdc solid;
	border-bottom: 1px #dcdcdc solid;
}
.containt{
	padding-left: 24px;
}
.containt-left,.containt-right{
	float: left;
}
.containt-left h1{
	font:28px 微软雅黑;
	color: #000000;
	font-weight: 600;
	padding-top: 48px;
	padding-bottom: 15px;
}
.containt-left li{
	margin-bottom: 9px;
	float: left;
	font:16PX Candara;
	color: #000000;
}
.containt ul{
	float: left;
}
.containt-left{
	width: 628px;
	padding-right: 54px;
	padding-top:20px;
}
.containt-left input{
	width: 300px;
	height: 26px;
}
.containt-left textarea{
	height: 374px;
	width: 543px;
}
.containt-right{
	width: 260px;
}
.containt-right h1{
	font:28px 微软雅黑;
	color: #000000;
	font-weight: 600;
	padding-top: 48px;
	padding-bottom: 15px;
}
.containt-right li{
	margin-bottom: 9px;
	font:16PX Candara;
	color: #000000;
	padding-bottom: 10px;
}
.containt-right p{
	font:16pX Candara;
	color: #000000;
	padding-top: 150px;
}
.ul-1,.ul-2{
	float: left;
	padding-top: 20px;
}
.ul-1 li,.ul-2 li{
	color: #000000;
	margin-bottom: 0px;
	font:12PX 微软雅黑;
	padding-bottom: 10px;
}
/*---------containt样式---------*/

/*---------footer样式---------*/
.footer-inner{
	background:url(../images/a1_06.gif);
	height: 160px;
	border-top: 1px #ffffff solid;
}
.footer-left,.footer-center,.footer-right,.footer-right li{
	float: left;
}
.footer-left{
	width: 216px;
	padding-top: 61px;
}
.footer-center{
	width: 460px;
}
.footer-center ul{
	margin-top: 55px;
}
.footer-center li{
	font:14PX Candara;
	color: #000000;
	height: 35px;
}
.footer-right{
	padding-top: 51px;
}
.footer-right li{
	padding-left: 10px;
}
/*---------footer样式---------*/
